### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule game-dev-programmer-portfolio-projects index.html
RewriteRule about-me-cv-resume about.html
RewriteRule programming-code-scripts-work-showcase programming.html
RewriteRule additional-projects-arts-blender other.html
RewriteRule programming-and-work-skills skills.html
RewriteRule hire-a-game-dev-programmer contact.html