body
{
    background-color: #1D1D20;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 20px;
}

/* Logo */
h1
{
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    letter-spacing: 3px;
    font-family: "Josefin Sans", sans-serif;
    color: #67B7D1;
}

/* Page title*/
h2
{
    font-size: 50px;
}

/* Category */
h3
{ 
    /*background-color: #59c0ee;*/
    font-size: 30px;
    text-align: center;
    margin:auto;
    padding: 10px;
}

/* Subcategory */
h4
{
    font-size: 25px;
    margin-bottom: 10px;
}


/* \/ \/ \/ ALL PAGES \/ \/ \/ */

header
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#pages
{
    padding-top: 20px;
    text-align: center;
    margin: 0 10px;
}


.navtile
{
    float: left;
    text-align: center;
    font-size: 20px;
    min-height: 30px;
    padding: 10px;
    color: #ffffff;
}

.navtile:hover
{
    background-color: #2E2E31;
    color: #eeeeee;
    /* Inversed colors:
    background-color: rgb(226, 226, 223);
    color: #000000; */
}

#contacts
{
    float: left;
    padding-top: 10px;
}

.contact
{
    float: left;
    width: 50px;
    min-height: 45px;
    margin: 10px;
    background-color: #4090aa;
    text-align: center;
    color: white;
    font-size: 35px;
}

.contact:hover
{
    background-color: #8edffb;
    color: #00008b;
}

main
{
    width: 980px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

footer
{
    clear: both;
    background-color: #00008b;
    color: white;
    text-align: center;
    padding: 20px;
}


/* \/ \/ \/ FEATURED PROJECTS \/ \/ \/ */

.tile
{
    float: left;
    margin: 20px 40px 20px 40px;
    padding: 2px;
    width: 400px;
    background-color: #6ad0ff;
    color:#1D1D20;
    text-align: center;
    border: 3px solid #8edffb;
}

.tileImage
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 390px;
    height: 220px;
    background-color: #67B7D1;
}

.tileText
{
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
    font-size: 18px;
}

.tileList
{
    text-align: left;
    font-size: 15px;
    line-height: 30px;
    min-height: 120px;
}

.tileButtonBig
{
    margin-bottom: 10px;
    padding: 10px;
    word-wrap: normal;
    width: 380px;
    font-size: 15px;
}

.tileButton
{
    font-size: 13px;
    margin-bottom: 10px;
    padding: 10px;
    width: 190px;
}

.tileLink
{
    text-decoration: none;
}

/* \/ \/ \/ PROJECT DETAILS  \/ \/ \/ */

#title
{
    width: 100%;
    text-align: center;
}

#subtitle
{
    font-size: 25px;
    margin-top: -30px;
}

#projectNav
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.projectButton
{
    margin: 0px 50px;
    float: left;
    font-size: 60px;
    background-color: #4090aa;
    color: white;
    text-align: center;
}

.projectButton:hover
{
    background-color: #8edffb;
    color: #00008b;
}

.buttonSubtitle
{
    margin: 5px;
    font-size: 20px;
}

.projectSection
{
    margin-top: 100px;
}

.contribution
{
    text-align: center;
    margin: 50px 0;
}

.contributionContent
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contributionImage
{
    background-color: #67B7D1;
    min-width: 400px;
    min-height: 225px;
}

.contributionText
{
    padding: 0 50px;
}



/* \/ \/ \/ ABOUT ME  \/ \/ \/ */

#aboutMePhoto
{
    float: left;
    height: 200px;
    padding: 5px;
    margin: 20px 40px;
    background-color: #4090aa;
}

#aboutMePhoto img 
{
    height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

#aboutMeText
{
    float: left;
    margin: 20px 40px 20px 40px;
    width: 400px;
    text-align: center;
    word-spacing: 2px;
    font-size: 20px;
}

#aboutMeSkills
{
    margin-top: 100px;
    margin-bottom: 50px;
    float:inherit;
    width: 100%;
    min-height: 500px;
}

.skillsHeader
{
    margin-left: 5%;
    font-size: 25px;
    text-align: left;
    width: 100%;
}

.skills
{
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    width: 31%;
    font-size: 20px;
    line-height: 40px;
}

.skills ul
{
    margin-top: 0px;
}

#programmingLanguages
{
    width: 20%;
}

#softwareUsed
{
    width: 34%;
}

#softSkills
{
    width: 40%;
}

