
body
{
    background-color: #1D1D20;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 15px;
}

/* My name */
h1
{
    font-size: 30px;
    letter-spacing: 3px;
    font-family: "Josefin Sans", sans-serif;
    color: #67B7D1;
}

/* Tile title */
h3
{ 
    /*background-color: #59c0ee;*/
    font-size: 25px;
}

#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#header
{
    width: 100%;
    margin-bottom: 20px;
}

#logo
{
    width: 200px;
    color: white;
    text-align: center;
    float: left;
    margin-top: 20px;
}

#nav
{
    margin-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.navtile
{
    float: left;
    text-align: center;
    font-size: 20px;
    min-height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    padding: 20px;
    color: #ffffff;
}

.navtile:hover
{
    background-color: #2E2E31;
    color: #eeeeee;
    /* Inversed colors:
    background-color: rgb(226, 226, 223);
    color: #000000; */
}

#contacts
{
    float: left;
}

.contact
{
    float: left;
    width: 50px;
    min-height: 45px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #4090aa;
    color: white;
    font-size: 35px;
    text-align: center;
}

.contact:hover
{
    background-color: #8edffb;
    color: #00008b;
}

#content
{
    width: 100%;
    min-height: 10px;
    background-color: #2e2e31;
}

.tile
{
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    width: 400px;
    background-color: #6ad0ff;
    color:#1D1D20;
    text-align: center;
}

.tileImage
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 356px;
    height: 200px;
    background-color: #67B7D1;
}

.tileList
{
    text-align: left;
    font-size: 15px;
    line-height: 30px;
}

.tileButtonBig
{
    margin-bottom: 10px;
    padding: 10px;
    word-wrap: normal;
    width: 340px;
    font-size: 15px;
}

.tileButton
{
    margin-bottom: 10px;
    padding: 10px;
    width: 170px;
}

.tileLink
{
    text-decoration: none;
}

#footer
{
    clear: both;
    background-color: #00008b;
    color: white;
    text-align: center;
    padding: 20px;
}
